
<form action="/admin/addCategory?_method=PUT" method="post">
    <div>
        <label>Name</label>
        <input type="text" name="categoryName" value="">
    </div>
    <a href="/admin/categories">cancel</a>
    <button type="submit">Add category</button>
</form>