<div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form action="/admin/addProduct" method="post" enctype="multipart/form-data">
          <div>
            <label class="form-label">Name</label>
            <input type="text" value="" name="name" required class="form-control">
          </div>
          <div>
            <label class="form-label">Brand</label>
            <input type="text" value="" name="brand" required class="form-control">
          </div>
          <div>
            <label class="form-label">Category</label>
            <select name="category" class="form-select">
              <% allCategories.forEach(category=>{ %>
              <option selected value="<%=category.id %>" label="<%=category.categoryName %>">
              </option>
              <% }) %>
            </select>
          </div>
          <div>
            <label class="form-label">Stock</label>
            <input type="number" name="quantity" min="1" value="" required class="form-control">
          </div>
          <div>
            <label class="form-label">Price</label>
            <input type="number" name="price" min="1" value="" required class="form-control">
          </div>
          <div>
            <label class="form-label">Discount</label>
            <input type="number" name="discount" min="1" value="" required class="form-control">
          </div>
          <div><label class="form-label">Description</label></div>
          <div><textarea name="description" rows="5" placeholder="Add description" class="form-control" required></textarea></div>
          <div>
            <label class="form-label">Upload Product Image</label>
            <input type="file" multiple name="productImages" required class="form-control" onchange="preview()">
            <div class="mt-2" id="previewProductImages">
              <!-- preview images while uploading images -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-dark">Add Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  //removing cache file of modal when closing
  $("#addProduct").on("hidden.bs.modal", function() {
    $(this).find('form').trigger('reset');
    $("#previewProductImages").html("")
  });

  //shows uploaded images on form
  function preview() {
    const selectedFiles = event.target.files
    for (const file of selectedFiles) {
      let src = URL.createObjectURL(file);
      $("#previewProductImages").append(`<img src='${src}' alt='' width='60' class='rounded mx-1 img-fluid'>`)
    }
  }
</script>