<div class="container">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center"">
        <div class="col-md-4 col-md-offset-5 align-center" >
            <form action="/admin/login" method="post">
                <h1>Admin Login</h1>
                <div class="form-floating mb-3">
                    <input type="text" name="adminUsername" placeholder="Username" class="form-control" id="floatingUsername">
                    <label for="floatingUsername">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="adminPassword" placeholder="Password" class="form-control" id="floatingPassword">
                    <label for="floatingPassword">Password</label>
                </div>
                    <button type="submit" class="btn btn-primary mt-2">Login</button>
            </form>
        </div>
    </div>
</div>