<%- include('../partials/adminNavbar') %>

    <div class="container">
        <div class="jumbotron shadow m-2 bg-white rounded">
            <table id="admin" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>#id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Change status</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((user,index)=>{ %>
                        <tr>
                            <td>
                                <%= index+1 %>
                            </td>
                            <td>
                                <%= user.name %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <% if(user.isActive){ %>
                            <td>Active</td>
                            <% } else { %>
                            <td>Blocked</td>
                            <%  } %> 
                            <td>
                                <form action="/admin/users?_method=PUT" method="post">
                                    <button type="submit" class="btn btn-success m-2">Unblock</button>
                                    <button type="submit" class="btn btn-danger m-2">Block</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <hr>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#admin').DataTable();
        });
    </script>