<% if(locals.errorMessage){ %>
<% if(errorMessage.length>0) { %>
    <div class="alert alert-danger text-center" role="alert"><%= errorMessage %></div>
<% }} %>

<% if(locals.successMessage){ %>

    <% if(successMessage.length>0) { %>
        <div class="alert alert-success text-center" role="alert"><%= successMessage %></div>
    <% } } %>



