<style>
  .height-100 {
    height: 100vh
  }

  .card {
    width: 400px;
    border: none;
    height: 400px;
    box-shadow: 0px 5px 20px 0px #d2dae3;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
  }

  .card h6 {
    color: red;
    font-size: 20px
  }

  .inputs input {
    width: 40px;
    height: 40px
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
  }

  .form-control:focus {
    box-shadow: none;
    border: 2px solid red
  }

  .validate {
    border-radius: 20px;
    height: 40px;
    background-color: rgb(39, 57, 82);
    border: 1px solid rgb(39, 57, 82);
    width: 140px
  }
</style>

<!-- Hero Section Begin -->
<%- include("./partials/heroSection") %>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Verify your account</h2>
          <div class="breadcrumb__option">
            <!-- <a href="/">Home</a>
            <span>verify</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<div class="container p-5 d-flex justify-content-center align-items-center">
  <div class="position-relative">
    <%- include("./partials/errorMessage") %> 
    <div class="card p-2 text-center mb-3">
      <h6>Please enter the one time password <br> to verify your account</h6>
      <div> <span>A code has been sent to</span> <small><%= email %></small> </div>
      <form action="/validateOtp" method="post">
        <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input class="m-2 text-center form-control rounded" type="text" id="first" name="a" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="second" name="b" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="third" name="c" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="fourth" name="d" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="fifth" name="e" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="sixth" name="f" maxlength="1" /> </div>
        <div class="mt-4"> <button class="btn btn-dark px-4 validate">Validate</button> </div>
      </form>
      <form action="/resendOtp" method="post">
        <div class="mt-2">Didn't receive code ?</small></div>
        <div class="mt-1"><button class="btn btn-outline-dark px-4" type="submit">Resend</button></div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {

    function OTPInput() {
      const inputs = document.querySelectorAll('#otp > *[id]');
      for (let i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener('keydown', function(event) {
          if (event.key === "Backspace") {
            inputs[i].value = '';
            if (i !== 0) inputs[i - 1].focus();
          } else {
            if (i === inputs.length - 1 && inputs[i].value !== '') {
              return true;
            } else if (event.keyCode > 47 && event.keyCode < 58) {
              inputs[i].value = event.key;
              if (i !== inputs.length - 1) inputs[i + 1].focus();
              event.preventDefault();
            } else if (event.keyCode > 64 && event.keyCode < 91) {
              inputs[i].value = String.fromCharCode(event.keyCode);
              if (i !== inputs.length - 1) inputs[i + 1].focus();
              event.preventDefault();
            }
          }
        });
      }
    }
    OTPInput();
  });

  setTimeout(() => {
        $(".alert").fadeTo(600, 0).slideUp(500, function() {
          // document.getElementById("errorMessage").innerHTML = ""
        })
      },4000)
</script>