<div class="container-fluid px-4">
  <h1 class="mt-4">Category Management</h1>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Categories
    </div>
    <div class="card-body">
      <table id="datatablesSimple">
        <thead>
          <tr>
            <th>Category</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Category</th>
            <th>Action</th>
          </tr>
        </tfoot>
        <tbody>
          <% allCategories.forEach(category=>{ %>
          <tr>
            <td><%= category.categoryName %> </td>
            <td>
              <button class="btn btn-sm btn-outline-dark" type="button"><i class="fa-solid fa-pen-to-square"></i></button>
              <button class="btn btn-sm btn-outline-danger" type="button"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>