<h1>change your password</h1>
<form action="/user/changePassword?_method=put" method="post">
    <div>
        <label>Current password</label>
        <input type="password" name="oldPassword">
    </div>
    <div>
        <label>New password</label>
        <input type="password" name="password">
    </div>
    <div>
        <label>Repeat Password</label>
        <input type="password" name="confirmedPassword">
    </div>
    <button type="submit">change</button>
    <%- include("../partials/errorMessage") %> 
</form>
