<div class="container text-center">
<h1>Welcome to User Profile</h1>
    <form action="/logout?_method=DELETE" method="post">
    <a href="/user/changePassword" class="btn btn-warning m-2">change password</a>
    <button type="submit" class="btn btn-primary m-2">logout</button>
    </form>
</div>