<!-- Hero Section Begin -->
<%- include("../partials/heroSection",{allCategories:allCategories}) %>
<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Reset Password</h2>
          <div class="breadcrumb__option">
            <a href="/">Home</a>
            <span>Reset Password</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<div class="container mt-3">
  <div class="main-body m-4">
    <div class="row">
      <div style="margin: auto;" class="col-md-6 col-sm-12">
        <div class="mt-2">

        </div>
        <div class="card p-4" style="border-radius:15px ;">
          <div class="card-body">
            <form id="myForm">
              <div class="form-outline mb-4">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control form-control-lg" name="email" id="email" required />
              </div>

              <button id="resetButton" class="btn btn-dark" type="submit" disabled>Reset Password</button>
              <p class="mt-3">Know Your Password? <a href="/login" class="text-dark"><u>Login here</u></a></p>
            </form>

            <!-- error message -->
            <div class="mt-3" id="successMessage"></div>
            <!-- error message -->

            <a href="#!" class="small text-muted">Terms of use.</a>
            <a href="#!" class="small text-muted float-right">Privacy policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#myForm").validate({
      errorClass: "my-error-class"
    })

  })

  $('#myForm input').on('keyup blur', function() { // fires on every keyup & blur
    if ($('#myForm').valid()) { // checks form for validity
      $('#resetButton').prop('disabled', false); // enables button
    } else {
      $('#resetButton').prop('disabled', 'disabled'); // disables button
    }
  });

  document.forms["myForm"].addEventListener("submit", async (event) => {
    try {
      event.preventDefault()
      document.getElementById("waiter").innerHTML = `<div class="waiting"></div>`
      const data = new URLSearchParams(new FormData(event.target))
      const response = await axios({
        method: 'post',
        url: '/forgetPassword',
        data: data

      })
      document.getElementById("waiter").innerHTML = ""
      await Swal.fire({
        title: 'Success!',
        text: 'your password reset link was sent to your email!',
        icon: 'success',
        width: '25em',
        timer: 2000
      })
      document.getElementById("email").value = ''
      $('#resetButton').prop('disabled', true);
      document.getElementById('successMessage').innerHTML = `<div class="alert alert-success text-center" role="alert">${response.data.message}</div>`

    } catch (err) {
      console.error(err)
      document.getElementById("waiter").innerHTML = ""
      await Swal.fire({
        title: 'Not found!',
        text: 'This email is not found. Please check your email!',
        icon: 'warning',
        width: '25em',
        timer: 2000
      })
    }
  })
</script>