<%- include("../partials/heroSection",{allCategories:allCategories}) %>
<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Reset Password</h2>
          <div class="breadcrumb__option">
            <a href="/">Home</a>
            <span>Reset Password</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<div class="container mt-3">
  <div class="main-body m-4">
    <div class="row">
      <div style="margin: auto;" class="col-md-6 col-sm-12">
        <div class="mt-2">
          <%- include("../partials/errorMessage") %>
        </div>
        <div class="card p-4" style="border-radius:15px ;">
          <div class="card-body">
            <form action="/login" method="post" id="myForm">

              <div class="form-outline mb-4">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" value="<%=email%>" name="email" readonly />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" minlength="3" name="password" id="password" required />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Confirm Password</label>
                <input type="password" class="form-control" minlength="3" name="confirmedPassword" required />
              </div>

              <button id="resetButton" class="btn btn-dark" type="submit" disabled>Reset password</button>
              <p class="mt-3">Know your password? <a href="/login" class="text-dark"><u>Login Hear</u></a></p>

            </form>

            <a href="#!" class="small text-muted">Terms of use.</a>
            <a href="#!" class="small text-muted float-right">Privacy policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#myForm").validate({
      errorClass: "my-error-class",
      rules: {
        confirmedPassword: {
          equalTo: "#password"
        },
      },
      messages: {
        confirmedPassword: {
          equalTo: "Password Not matching.",
        },
      }
    })

  })

  $('#myForm input').on('keyup blur', function() { // fires on every keyup & blur
    if ($('#myForm').valid()) { // checks form for validity
      $('#resetButton').prop('disabled', false); // enables button
    } else {
      $('#resetButton').prop('disabled', 'disabled'); // disables button
    }
  });

  document.forms["myForm"].addEventListener("submit", async (event) => {
    event.preventDefault()
    try {
      const data = new URLSearchParams(new FormData(event.target))
      const passwordResetId = window.location.href.substring(window.location.href.lastIndexOf('/') + 1)
      data.append("passwordResetId", passwordResetId)
      const response = await axios({
        method: "post",
        url: "/resetPassword",
        data: data
      })
      await Swal.fire({
        title: 'Success!',
        text: 'Your password has been changed successfully!',
        icon: 'success',
        width: '25em',
        timer: 2000
      })
      window.location = "/login"

    } catch (err) {
      console.error(err)
      document.getElementById("errorMessage").innerHTML = `<div id='myErrorMessage' class="alert alert-danger text-center" role="alert">${err.response.data.message}</div>`
      setTimeout(() => {
        $("#myErrorMessage").fadeTo(600, 0).slideUp(500, function() {
          document.getElementById("errorMessage").innerHTML = ""
        })
      }, 2500)
    }
  })
</script>